body {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    overflow-x: hidden;

}

.popUpBackground {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.popUpContact {
    width: calc(80% - 232px);
    height: 594px;
    position: relative;
    z-index: 10;
    margin-left: 232px;
}

.popUpLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
    gap: 12px;
    border-radius: 30px 0 0 30px;
    isolation: isolate;

    position: absolute;
    width: calc(40% - 5%);
    height: 594px;

    background: #2A3647;
}

.logoimg {
    width: 55px;
    height: 66px;
    flex: none;

    flex-grow: 0;
    z-index: 3;

}

.popUpLeftHeader {

    font-weight: 700;
    font-size: clamp(31px, 5vw, 61px); 
    line-height: 120%;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.popUpLeftSubline {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.popUpRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 0 30px 30px 0 ;
    isolation: isolate;

    position: absolute;

    width: 60%;
    height: 594px;
    right: 0px;
    top: 0px;

    background: #FFFFFF;
}

.xicon {
    position: absolute;
    width: 21px;
    height: 21px;
    right: 5%;
    top: 5%;
    transition: 200ms;
}

.xicon:hover {
    cursor: pointer;
    transform: rotate(135deg);
}

.popUpRightImg {
    width: 120px;
    height: 120px;
}

.popUpRightImgBG {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    isolation: isolate;

    position: absolute;
    width: 120px;
    height: 120px;

    background: #D1D1D1;

    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.popUpRightImgBG img {
    width: 41px;
    height: 54px;
}

.popUpAddContact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;

    height: 271px;
    width: 80%;
}

.input {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 51px;
    padding: 13px 21px;
    background: #FFFFFF;

    border: 1px solid #D1D1D1;
    border-radius: 10px;

}

.input input {
    border: none;
    outline: none;
    width: 100%;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #171717;
}

input::placeholder{
    color: #D1D1D1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.popUpButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 25px;

    width: 100%;
    height: 61px;
}

.cancelBtn {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;

    width: 35%;
    height: 61px;

    background-color: #fff;
    border: 1px solid #2A3647;
    border-radius: 10px;

    font-weight: 400;
    font-size: 21px;
    line-height: 120%;

    color: #2A3647;

    flex: none;
    order: 0;
    flex-grow: 0;
    transition: 200ms;
}

.borderButton:hover {
    cursor: pointer;
    color: #29ABE2;
    border-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.borderButton:hover img {
    filter: invert(56%) sepia(67%) saturate(557%) hue-rotate(156deg) brightness(92%) contrast(92%);
}

.borderButton:active {
    cursor: pointer;
    color: #091931;
    border-color: #091931;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
}

.borderButton:active img {
    filter: invert(6%) sepia(33%) saturate(4369%) hue-rotate(204deg) brightness(94%) contrast(95%);
}

.createBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;

    width: 55%;
    height: 61px;

    background: #2A3647;
    border-radius: 10px;
    border: none;

    font-weight: 700;
    font-size: 21px;
    line-height: 120%;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
    transition: 200ms;
}

.createBtn img {
    filter: invert(1);
}

.button:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button:active{
    background: #FFFFFF;
    /* stronger */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #091931;
}

.button:active img {
    filter: invert(6%) sepia(33%) saturate(4369%) hue-rotate(204deg) brightness(94%) contrast(95%);
}

.dnone {
    display: none !important;
}

.slidein{
    display: flex ;
    animation: slide-in 600ms ease-in-out;
}

.slideout {
    animation: slide-out 600ms ease-in-out;
}

.fadein{
    display: flex ;
    animation: fade-in 600ms ease-in-out;
}

.fadeout{
    animation: fade-out 600ms ease-in-out;
}

.slideinsmall{
    display: flex ;
    animation: slide-in 600ms ease-in-out;
}

.slideoutsmall{
    animation: slide-out 600ms ease-in-out;
}


    /* ----- KEY FRAMES ----- */


@keyframes slide-in {
	0% {
		transform: translateX(250%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slide-out {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(250%);
	}
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes slide-in-small {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slide-out-small {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
}


    /* ----- RESPONSIVE DESIGN ----- */


@media (min-width: 300px) and (max-width: 1050px){

    .popUpContact{
        /* display: flex;
        flex-direction: column; */
        margin-left: 0;
        width: 80%;
        max-height: calc(100% - 160px);
        overflow-y: auto;
    }

    .popUpLeft{
        display: none;
    }

    .popUpRight{
        border-radius: 30px;
        width: 100%;
    }

    .cancelBtn{
        font-size: clamp(16px, 3vw, 21px);
      
    }

    .createBtn{
        font-size: clamp(18px, 3vw, 21px);
    }
}