* {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;

}

.popUpBackgroundE {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.popUpContactE {
    width: calc(80% - 232px);
    height: 594px;
    position: relative;
    z-index: 10;
    margin-left: 232px;
}

.popUpLeftE {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
    gap: 12px;
    border-radius: 30px 0 0 30px;
    isolation: isolate;

    position: absolute;
    width: calc(40% - 5%);
    height: 594px;

    background: #2A3647;
}

.logoimgE {
    width: 55px;
    height: 66px;
    flex: none;
   
    flex-grow: 0;
    z-index: 3;

}

.popUpLeftHeaderE {

    font-weight: 700;
    font-size: clamp(31px, 5vw, 61px); 
    line-height: 120%;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.popUpLeftSublineE {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.popUpRightE {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 0 30px 30px 0 ;
    isolation: isolate;

    position: absolute;

    width: 60%;
    height: 594px;
    right: 0px;
    top: 0px;

    background: #FFFFFF;
}

.xiconE {
    position: absolute;
    width: 21px;
    height: 21px;
    right: 5%;
    top: 5%;
    transition: 200ms;
}

.xiconE:hover {
    cursor: pointer;
    transform: rotate(135deg);
}

.popUpRightImgE {
    width: 120px;
    height: 120px;
}

.popUpRightImgBGE {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    position: absolute;
    width: 120px;
    height: 120px;

    background: #FFFFFF;

    border: 3px solid #FFFFFF;
    
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    border-radius: 70px;
    
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    color: #FFFFFF;
    
}

.popUpRightImgBGE img {
    width: 41px;
    height: 54px;
}

.popUpAddContactE {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;

    height: 271px;
    width: 80%;
}

.inputE {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 51px;
    padding: 13px 21px;
    background: #FFFFFF;

    border: 1px solid #D1D1D1;
    border-radius: 10px;

}

.inputE input {
    border: none;
    outline: none;
    width: 100%;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #171717;
}

inputE::placeholder{
    color: #D1D1D1;
}

inputE::-webkit-outer-spin-button,
inputE::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

inputE[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.popUpButtonE {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    gap: 25px;

    width: 100%;
    height: 61px;
}

.saveBtnE {
    /* box-sizing: border-box; */
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    /* gap: 10px; */

    width: 40%;
    height: 61px;

    background: #2A3647;
    border-radius: 10px;
    border: none;

    font-weight: 700;
    font-size: 21px;
    line-height: 120%;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
    transition: 200ms;
}
.deleteBtnE{
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;

    width: 25%;
    height: 61px;

    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #2A3647;

    font-weight: 400;
    font-size: 21px;
    line-height: 120%;

    color: #2A3647;

    flex: none;
    order: 0;
    flex-grow: 0;
    transition: 200ms;
}

.deleteBtnE:hover{
    cursor: pointer;
    color: #29ABE2;
    border-color: #29ABE2; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonE:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonE:active{
    background: #FFFFFF;
    /* stronger */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: black;
}

.dnoneE {
    display: none !important;
}

.slideinE{
    display: flex ;
    animation: slide-inE 600ms ease-in-out;
}

.slideoutE {
    animation: slide-outE 600ms ease-in-out;
}

.fadeinE{
    display: flex ;
    animation: fade-inE 600ms ease-in-out;
}
.fadeoutE{
    animation: fade-outE 600ms ease-in-out;
}


@keyframes slide-inE {
	0% {
		transform: translateX(250%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slide-outE {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(250%);
	}
}

@keyframes fade-inE {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-outE {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


    /* ----- RESPONSIVE DESIGN ----- */


@media (min-width: 300px) and (max-width: 1050px){

    .popUpContactE{
        /* display: flex;
        flex-direction: column; */
        margin-left: 0;
        width: 80%;
        max-height: calc(100% - 160px);
        overflow-y: auto;
    }

    .popUpLeftE{
        display: none;
    }

    .popUpRightE{
        border-radius: 30px;
        width: 100%;
    }

    .deleteBtnE{
        font-size: clamp(18px, 3vw, 21px);
    }

    .saveBtnE{
        font-size: clamp(18px, 3vw, 21px);
    }
}