.main {
    /* overflow: hidden; */

}

body{
    background-color: #F6F7F8;
    margin: none;
}

.main-contact{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 89px);
    width: calc(100% - 232px);
    /* position: relative; */
    /* width: 1440px; */
    background: #F6F7F8;
    margin-left: 232px;
}

.main-contact::-webkit-scrollbar {
    display: none;
}

.main::-webkit-scrollbar {
    display: none;
}

.contact-content::-webkit-scrollbar {
    display: none;
}

.contact-bar{   
    padding: 24px;
    width: 380px;
    left: 232px;
    top: 89px;
    /* white */
    background: #FFFFFF;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    z-index: 0;
}

.contact-content{
    /* position: relative; */
    width: calc(100% - 380px);
    /* height: 1024px; */
    max-height: 100%;
    background: #F6F7F8;
    overflow: hidden;
}

.contact-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    gap: 30px;
    user-select: none;
    width: 100%;
    height: 73px;
    /* left: 743px; */
    top: 171px;
}

.contact-header-name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    /* or 73px */
    color: #000000;
}

.contact-line{
    width: 0px;
    height: 59px;
    border: 3px solid #29ABE2;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.contact-header-description{
    display: flex;
    align-items: center;
    gap: 30px;
}

.contact-header-description span{
    width: 250px;
    height: 32px;
    /* Version 2/t5 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
    /* or 32px */
    color: #2A3647;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.button {
    position: absolute;
        /* Secondary contact V1*/
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 193px;
    height: 53px;
    bottom: 10%;
    right: 10%;
    background: #2A3647;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    transition: 200ms;
}

.button:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button:active{
    background: #FFFFFF;
    /* stronger */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #091931;
}

.button:active img {
    filter: invert(6%) sepia(33%) saturate(4369%) hue-rotate(204deg) brightness(94%) contrast(95%);
}


.buttonn {
    position: absolute;
        /* Secondary contact V1*/
    box-sizing: border-box;
    /* Auto layout */
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 193px;
    height: 53px;
    bottom: 10%;
    /* right: 10%; */
    background: #2A3647;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    transition: 200ms;
   
}

.buttonn:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonn:active{
    background: #FFFFFF;
    /* stronger */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #091931;
}

.buttonn:active img {
    filter: invert(6%) sepia(33%) saturate(4369%) hue-rotate(204deg) brightness(94%) contrast(95%);
}

.createBtn  {
    /* Secondary contact V1*/
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 193px;
    height: 53px;
    background: #2A3647;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    transition: 200ms;
}

.createBtn:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.createBtn:active{
    background: #FFFFFF;
    /* stronger */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #091931;
}

.createBtn:active img {
    filter: invert(6%) sepia(33%) saturate(4369%) hue-rotate(204deg) brightness(94%) contrast(95%);
}


/* -----   CONTACT BAR     ----- */


.contact-bar-scroll{
    overflow: scroll;
    text-align:justify;
    height: 98%;
    background-color: white;  
    transition: 200ms;
}

.contact-bar-scroll::-webkit-scrollbar-button{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
/* .contact-bar-scroll::-webkit-scrollbar-button:horizontal:increment{
    background-image: url(assets/img/icon-dropdown.svg);
} */

.contact-bar-scroll::-webkit-scrollbar-button:vertical:increment{
    background-image: url(assets/img/scroll-icon-down.svg);
}

.contact-bar-scroll::-webkit-scrollbar-button:vertical:decrement{
    background-image: url(assets/img/icon-arrow-up-scroll.svg);
}

.contact-bar-scroll::-webkit-scrollbar{
    width: 10px;
}

.contact-bar-scroll::-webkit-scrollbar-track{
    background: #FFFFFF;
}

.contact-bar-scroll::-webkit-scrollbar-thumb{
    border: 3px solid #ffffff;
    border: 7px solid #A8A8A8;
    border-radius: 3px;
}

.contact-bar-scroll::-webkit-scrollbar-thumb:hover{
    border: 7px solid #797979;
}

 
/*    ----- CONTACT LIST ----- */


.contact-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    /* position: absolute; */
    width: 360px;
    /* height: 1072px; */
    left: 48px;
    top: 2px;
    /* white */
    background: #FFFFFF;
}

.contact-letter{
    width: 282px;
    height: 40px;
    /* Version 2/t6 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */
    display: flex;
    align-items: center;
    color: #000000;
}

.contact-border{
    width: 323px;
    height: 0px;
    /* Style */
    border: 1px solid #D1D1D1;
    border-radius: 3px;
}

.contact-list-order{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 25px;
    gap: 35px;
    width: 310px;
    /* height: 79px; */
    background: #FFFFFF;
    border-radius: 10px;
}

.contact-list-order span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */
    display: flex;
    align-items: center;
    color: #000000;
}

.contact-list-order a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    display: flex;
    align-items: center;
    color: #007CEE;
}

.contact-list-content{
    display: flex;
    flex-direction: row;
    gap: 30px;
    color: white;
    font-family: 'Inter';
    width: 310px;
    padding: 10px;
}

.contact-list-content:hover{
    background: #2A3647;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.contact-list-content:hover span{
    background: #2A3647;
    border-radius: 10px;
    color: white;  
}

.contact-initials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 42px;
    height: 42px;
    background: #FFFFFF;
    border-radius: 45px;
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    left: 0px;
    top: 0px;
    background: #FF7A00;
    border: 1px solid #FFFFFF;
    
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
}

.contact-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    width: 199px;
    min-height: 49px;
}

.contact-selection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    padding-left: 50px;
    gap: 21px;
    /* position: absolute; */
    width: 100%;
    height: 364px;
    /* left: 750px; */
    top: 326px;
}

.contact-selecetion-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;
    
    max-width: 100%;
    min-height: 88px;
}

.contact-selecetion-header a{
    text-decoration: none;
}

.contact-sel-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.contact-sel-content span{
    /* width: 400px;
    height: 56px; */
    /* Version 2/t2 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
}

.contact-selection-initials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 120px;
    height: 120px;
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 70px;
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    color: #FFFFFF;
}

.contact-add-task{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    padding: 0px;
    gap: 13px;
    width: 128px;
    height: 19px;
    cursor: pointer;
}
/* .contact-add-task:hover{
    color: #000000;
} */

.contact-add-task span{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    display: flex;
    align-items: center;
    color: #29ABE2;   
}

.contact-information-edit{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 59px;
    width: 100%;
    height: 74px;
    font-family: 'Inter';
    font-style: normal;
    color: #000000;    
}

.contact-information-edit span{
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.contact-information-edit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    gap: 6px;
    width: 126.85px;
    height: 29.34px;
    cursor: pointer;
}

.contact-information-edit-button span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */

    display: flex;
    align-items: center;
    cursor: pointer;
    color: #2A3647;
}

.contact-information-mailphone{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 22px;
    width: 140px;
    height: 128px;
    font-family: 'Inter';
    font-style: normal;
    
    line-height: 120%;
    /* or 19px */
    color: #000000;
}

.contact-information-mailphone span{
    font-weight: 700;
    font-size: 16px;
}

.contact-information-mailphone a{
    color: #007CEE;
    text-decoration: none;
}

.phone{
    color: #000000 !important;
    text-decoration: none;
}

.contact-information-mailphone a:hover{
    color: darkblue;
    text-decoration: underline;
}

.succesfulC{
    position: absolute;
    box-sizing: border-box;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    width: 326px;
    height: 53px;
    bottom: 10%;
    right: 10%;
    background: #2A3647;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    z-index: 3;
}

.contact-selectionn{
    display: none;
    
}

.content-sel-header-Kanban{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}


@keyframes fadeout {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


        /* ----- RESPONSIVE DESIGN ----- */


@media (min-width: 1050px) and (max-width: 1275px){
    .contact-header{
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        
    }

    .contact-header-description{
       justify-content:flex-start;
       padding-left: 25%;
       gap: 0;
    }

    .contact-header-description span{
        padding-left: 5px;
    }

    .contact-sel-content{
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-sel-content span{
        word-break: break-word;
    }

    .contact-information-edit{
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 20px;
    }
}


@media (max-width: 1050px){

    .main-contact{
        justify-content: center;
        width: 100%;
        height:calc(100vh - 160px);
        margin-left: 0px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .contact-bar{
        height: calc(100% - 184px);
        width: 322px;
        padding-top: 160px !important;
    }

    .contact-bar-scroll{
        height: 100%;
        width: 100%;
        overflow-x: hidden;
    }

    .contact-list{
        height: 100%;
        width: 100% !important;
    }

    .contact-content{
        display: none;
    }

    .displayON{
        display: flex !important;
        width: 100%;
    }

    .dnone{
        display: none !important;
    }

    .dmobile{
        display: none !important;
    }

    .blueunderline{
        height: 45px !important;
    }

    .contact-selectionn{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px;
        padding-left: 5% !important;
        gap: 21px;
        width: 100%;
        height: calc(100% - 60px);
        /* padding-top: 99px; */
        background-color: #F6F7F8;  
        overflow: scroll;
    }

    .conttent{
        width: 100%;
    }

    .contact-header{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0;
        padding-top: 25px;
        gap: 0;
    }

    .conntent-headerFirst{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
    }

    .conntent-headerFirst img{
        width: 40px;
        border: 1px solid rgba(41, 171, 226, 1);
        border-radius: 5px;
    }

    .conntent-headerFirst img:hover{
        cursor: pointer;
    }

    .contact-header-name{
        font-size: 47px;
    }

    .contact-header-description{
        flex-direction: column-reverse;
        align-items: flex-start;
        padding-top: 25px;
    }

    .contact-header-description span{
        font-size: 21px;
    }

    .contact-line{
        width: 90px;
        height: 0px;
        border: 2px solid #29ABE2;
    }

    .contact-information-edit{
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 20px;
    }

    .contact-information-mailphone{
        padding-bottom: 25px;
    }

    .contact-selection-initials{
        width: 80px;
        height: 80px;
    }

    .buttonn{
        display: flex !important;
        position: fixed !important;
        top: 15%;
       
    }

    .button{
        display: none !important;
        position: fixed !important;
        bottom: 82% !important;
    }



}