.farbe0{
    background-color: #FF7A00 !important;
}
.farbe1{
    background-color: #9327FF !important;
}
.farbe2{
    background-color: #29ABE2 !important;
}
.farbe3{
    background-color: #FC71FF !important;
}
.farbe4{
    background-color: #02CF2F !important;
}
.farbe5{
    background-color: #AF1616 !important;
}
.farbe6{
    background-color: #462F8A !important;
}
.farbe7{
    background-color: #FFC700 !important;
}
.farbe8{
    background-color: #781356 !important;
}
.farbe9{
    background-color: #b61818 !important;
}
.farbe10{
    background-color: #24763e !important;
}
